
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/admin/add-recipe" method="POST" enctype="multipart/form-data">
    <h1>Add New Recipe</h1>
     <h3>Select Category</h3>
    <select name="category" id="recipe-category">
        <option value="dinner">Dinner</option>
        <option value="dinner">Meals</option>
        <option value="dinner">Ingredients</option>
        <option value="dinner">Dinner</option>
        <option value="dinner">Dinner</option>
        <option value="dinner">Dinner</option>
        <option value="dinner">Dinner</option>
        <option value="dinner">Dinner</option>
        <option value="dinner">Dinner</option>
    </select>
    
    <input type="text" name="title" placeholder="Recipe Title (e.g., Spicy Tacos)" required>
    <h3>Recipe Image</h3>
    <input type="file" name="recipeImage" accept="image/*" required>
    <textarea name="description" placeholder="Short SEO Description"></textarea>
   
    <h3>Ingredients (comma separated)</h3>
    <textarea name="ingredients" placeholder="Flour, Water, Salt..."></textarea>
    
    <h3>Instructions</h3>
    <textarea name="instructions" placeholder="Step 1: Boil water..."></textarea>
    
    <button type="submit">Publish Recipe</button>
</form>
    
</body>
</html>

